footer {
    height: 193px;
    padding: 5px 50px;
    background-color: #16133D;
}

.logo-text__footer {
    font-family: $font-second;
    font-size: 35px;
    line-height: 35px;
    margin-left: 30pxpx;
    color: #FFFFFF
}

.footer-display {
    display: flex;
    margin: 25px 0;
}

.container__socials {
    display: flex;
    padding: 0 0 0 0;
    gap: 10px;
}

.socials {
    display: flex;
    justify-content: flex-start;
    margin-left: 100px;
}

.socials-list {
    width: 38px;
    height: 38px;
    background: #EFEEF3;
    border-radius: 5px;
    text-align: center;
    padding: 9px;
    box-sizing: border-box;
    list-style: none;
}

