.service__head {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 380px;
    height: 85px;
    margin: 100px 0 45px 45px;
}

.service__head-description {
    line-height: 21px;
    font-family: $font-first;
    font-size: 16px;
    color: #7690A8;
}

.service__head-main {
    line-height: 52px;
    font-family: $font-third;
    font-size: 40px;
    letter-spacing: 0.2px;
    color: #16133D;
}

.service-card {
    display: flex;
    padding: 30px;
}

.service__card-link {
    display: flex;
    padding: 40px;
    width: 370px;
    height: 340px;
    margin: 0 15px 0 15px;
    justify-content: space-between;
    flex-direction: column;
    align-items: flex-start;
    text-decoration: none;
    box-sizing: border-box;
    border: 1px solid #E5EAF4;
    border-radius: 8px;
}

// .service__card:hover {
//     border: 1px solid #3DB370;
// }

.svg:hover {
    opacity: 1;
}

.svg {
    position: absolute;
    top: 15px;
    left: 11px;
    opacity: 0;
}

.svg__3 {
    position: absolute;
    top: 15px;
    left: 18.5px;
    opacity: 0;
}

.svg__3:hover {
    opacity: 1;
}

.service__card-icon {
    width: 64px;
    height: 64px;
    border: 1px solid rgba(21, 101, 216, 0.1);
    border-radius: 16px;
    padding-top: 15px;
    text-align: center;
    box-sizing: border-box;
    position: relative;
}

.title-card {
    font-family: $font-first;
    font-size: $font-size-second;
    line-height: 21.28px;
    letter-spacing: 0.2px;
    color: #16133D;
}

.text-card {
    font-family: $font-first;
    font-size: $font-size-first;
    line-height: 28px;
    color: #16133D;
    margin-top: 10px;
}

.card-learn-more {
    font-family: $font-first;
    font-size: $font-size-first;
    font-weight: bold;
    color: #3DB370;
}

.service__card-link:hover {
    border: 1px solid #3DB370;
}

.svg:hover {
    opacity: 1;
}

